<h2>List of ratings</h2>
<p>There is <%= pluralize @ratings.count, "rating" %></p>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= render rating %>
    </li>
  <% end %>

</ul>

<p>
  <%= link_to "New rating", new_rating_path %>
</p>
